.link{
    text-decoration: none;
    font-size: 20px;
    color: #0060af;
    cursor: pointer;
    transition: 250ms ease;
}

.link:not(:last-child){
    margin-right: 20px;
}

.link:hover {
    color: #0890ff;
    transition: all .3s cubic-bezier(.39, .575, .565, 1);
}