.header{
    background-color: rgb(240, 255, 129);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    box-shadow: 10px 5px 5px #858585;
    width: 100%;
}