.notification_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: rgb(1, 1, 1);
}

.notification_item {
    list-style: none;
    background-color: #3a9dee;
    border-radius: 4px;
    box-shadow: 0.5rem 0.5rem 2rem #a7a4a4, -0.5rem -0.5rem 2rem #acabab;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    width: 400px;
}

.notification_text{
    color: #fff;
}