.list_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: rgb(1, 1, 1);
}

.list {
    list-style: none;
    background-color: #dad600;
    border-radius: 4px;
    /* box-shadow: 0.5rem 0.5rem 2rem #a7a4a4, -0.5rem -0.5rem 2rem #acabab; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    width: 400px;
}

.item {
    display: flex;
    align-items: center;
}

.contact_name {
    margin-right: 15px;
    color: #fff;
}

.btn_delete_contact {
    border-color: transparent;
    border-radius: 20px;
    background-color: #0060af;
    color: #fff;
    cursor: pointer;
    transition: 250ms ease;
}

.btn_delete_contact:hover {
    background-color: #0890ff;
    transition: all .3s cubic-bezier(.39, .575, .565, 1);
}