.user_box {
    display: flex;
    align-items: center;
}

.user_name {
    color: #0060af;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    transition: 250ms ease;
}

.user_name:hover {
    color: #0890ff;
    transition: all .3s cubic-bezier(.39, .575, .565, 1);
}

.button {
    color: rgb(240, 255, 129);
    font-size: 15px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #0060af;
    cursor: pointer;
    text-align: center;
    transition: 250ms ease;
    width: 70px;
    height: 31px;
}

.button:hover {
    background-color: #0890ff;
    transition: all .3s cubic-bezier(.39, .575, .565, 1);
}